.pre-footer {
	color: $color-bg;
	background:$color-footer;
	text-align: center;
	strong{
		margin-bottom: em(10);
		font-size: em(22);
		font-weight: 600;
		text-transform: none;
		display: block;
	}
	.container {
	padding: em(32) 0 em(43.2) 0;
	}
	p {
	font-size: em(16);
	line-height: em(26);
	text-transform: uppercase;
	margin-bottom: em(30);
	}
	.personal {
	width: 100%;
	margin: 0 auto;
		li {
		float: none;
		display: inline-block;
		}
		.fa {
		vertical-align: middle;
		font-size: em(24);
		}
		a {
		margin: 0 em(50);
		text-decoration: none;
		color: $color-main;
		}
	}
}

.personal a:hover {
	color: $color-bg;
}

footer p {
	color: #a6a6a6;
	float: left;
	margin-left: 200px;
	.author {
		padding-top: em(10);
	}
}