h1 {
	margin: 0;
	font-size: em(40);
	letter-spacing: em(1.1);
}

.services h1 {
	color: $color-main;
}

a {
	margin: 0;
	letter-spacing: em(1.1);
}

.services a{
	font-size: em(26);
}

.references strong {
	font-size: em(24);
}

p,
li {
	font-size: em(20);
}

li {
	:hover{
		text-decoration: underline;
	}
}

